@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
  width: 100%;
}

.home {
  height: 100vh;
  background-color: #282a36;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 15px;
  position: relative;
}

.home::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.home .home-text {
  text-align: center;
  position: relative;
  z-index: 2;
}

.home .home-text h1 {
  color: #44475a;
  font-size: 30px;
  line-height: 56px;
  font-weight: 700;
  margin: 0 0 20px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.home .home-text p {
  margin: 0;
  overflow: hidden;
}

.home .home-text p span {
  font-size: 30px;
  color: #ffb86c;
  font-weight: 700;
  display: inline-block;
  line-height: 46px;
  display: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a{
  text-decoration: none;
  color: #ffb86c;
}

.home .home-text p span.text-in {
  display: block;
  animation: textIn 0.5s ease;
}

.home .home-text p span.text-out {
  animation: textOut 0.5s ease;
}

@keyframes textIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes textOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
